/* tailwind dependencies */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* base style */
@layer base {
    html {
        box-sizing: border-box;
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
    }
    body {
        background-color: #111827;
    }
    /* scroll */
    ::-webkit-scrollbar {
        @apply w-2;
    }
    ::-webkit-scrollbar-track {
        @apply bg-gray-500;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-700;
    }
}

@layer components {
}

/* layer utilities */
@layer utilities {
    .word-spacing-2 {
        word-spacing: -2px;
    }
    .word-spacing-3 {
        word-spacing: -3px;
    }
    .word-spacing-4 {
        word-spacing: -4px;
    }
    .custom-height {
        height: calc(100vh - 146px);
    }
    .custom-min-height {
        min-height: calc(100vh - 146px);
    }
    .translateZ-0 {
        transform: translateZ(0);
    }
}
